<!DOCTYPE html>
<html>
  <head>
    <meta charset="UFT-8"
    <title>Fortune Teller</title>
    <link rel="stylesheet" type="text/css" href="../..public/style.css">
  </head>

  <body>
    <h1>Welcome to the Fortune Teller!</h1>
    <p> Please enter your name </p>
    <form method=POST>
      <input type="text" name="user">
      <br>
      <input type="submit" value="GET YOUR FORTUNE!!!">
      </form>
  </body>
</html>