<!DOCTYPE html>
  <html>
    <head>
      <tile>
        Fortune!!
      </tile>
    </head>
    <body>
      <h1>
        Here's Your Fortune
      </h1>
      <h3>Hi, <%=@the_user%> , fortine is <%=@the_fortune%>.</h3>
      
      
    </body>
  </html>